.react-bootstrap-table table {
  table-layout: auto !important;
}
.text-center {
  text-align: center;
}
.card {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 0px 10px 10px 10px;
}
.card > div:first-child > header:first-child > h2 {
  font-size: 1rem;
}
.picklist {
  display: inline;
}
.rounded-circle {
  border-radius: 50% !important;
}
.table{
  border: 1px solid rgba(215,217,226,1);
  border-radius: 15px;
}
.table > div:first-child > div:last-child > div{
  border-radius: 15px 15px 0 0;
  border:none;
}
.table > div:last-child {
  border-radius: 0 0 15px 15px;
}
.flexContainer {
  display: flex;
  justify-content: space-around;
}
.flexContainer > div {
  /* flex: 1; */
  width: 420px;
}
