REACT_APP_AUTH0_DOMAIN=FILL-IT-IN-HERE
REACT_APP_AUTH0_CLIENT_ID=FILL-IT-IN-HERE
REACT_APP_AUTH0_AUDIENCE=FILL-IT-IN-HERE
REACT_APP_CONSULT_API_KEY=FILL-IT-IN-HERE
REACT_APP_MANAGEMENT_API_KEY=FILL-IT-IN-HERE
REACT_APP_UPDATE_TRANSCRIPT_API_KEY=FILL-IT-IN-HERE
