.filter-item__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.filter-item__container > p {
  margin: 0 auto 0 1em;
}

.filter-item__container > svg {
  margin-left: 1em;
}

.filter-item__box {
  width: 2em;
  height: 2em;
  border-radius: 0.25em;
  background-color: #f00;
}

.filter-item__box::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: 0.5em;
}

.container > span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.container > button {
  margin-left: auto;
}

.arrow {
  transition: 0.3s;
}

.active {
  transform: rotateX(180deg);
}

.dropdown {
  position: fixed;
  z-index: 5000;
  width: 200px;
  margin-top: 3em;
  overflow-y: visible;
  transform: translate(50%, 50%);
}

/* Overrides for Issues Section */
th {
  text-align: start;
}
th > div > div[role='presentation'] > span {
  width: 100%;
}
