.container {
    margin-bottom: 3rem;
}

.buttonStyle {
    position:absolute!important;
}

.wrapped-purpose div {
    overflow-wrap: break-word !important;
    white-space: normal !important;
    line-height: 20px !important;
    margin: 4px 0.5rem !important;
}

.container > div {
    text-align: left;
}

.container > div:last-child {
    text-align: left;
}


.form-group {
    margin-bottom: 1.25rem;
    text-align: left;
    display: block;
}

.date-picker {
    display: block!important;
}

.form-control {
    color: #333;
    font-size: 15px;
    min-height: 46px;
    padding: 6px 15px;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.rounded-circle {
    border-radius: 50%!important;
}
