.infermedica {
  overflow-y: auto;
  overflow-x: auto;
  height: 100%;
  width: 0;
  transition: all ease-in-out 0.7s;
  text-align: left;
}
.infermedicaActive {
  padding: 0 20px;
  width: 50%!important;
}

button {
  background-color: inherit;
  border: none;
  box-shadow: none;
}

button:hover {
  cursor: pointer;
}

.sidebar {
  width: 1em;
}

.sidebar button {
  width: 100%;
  color: gray;
  font-size: 2em;
}

.sidebar button:hover {
  color: #532197;
}

.sidebar .active {
  color: #532197 !important;
}

.name {
  font-size: 18px;
}

.commonName {
  font-size: 16px;
}

.item {
  display: flex;
  text-align: left;
  align-items: center;
  padding: 0.5rem;
  background-color: #fff!important;
  border: 1px solid rgba(0,0,0,.125);
  box-shadow: 5px 5px 5px #888888;
  
}

.condition > .item > .dropdownToggle {
	background-color:inherit !important;
	border:none !important;
  box-shadow: none !important;
  color: inherit!important;
  width: 100%;
  text-align: inherit !important;
  display: inherit !important;
  align-items: inherit !important;
  padding: 0 !important;
}

.dropdownToggle::after {
  display: none;
}

.dropdownToggle[aria-expanded='true']::after {
  transform: rotate(-135deg);
}

.icon {
  margin-right: 1em;
  font-size: 1.5em;
  width: 1em!important;
}

.update {
  margin-left: auto;
  font-size: 1.5em;
}

/* .condition .item button {
  border-top: 0;
  border-left: 0;
  border-bottom: 2px solid #757575;
  border-right: 2px solid #757575;
  content: '';
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  margin-left: auto;
  height: 18px;
} */

.expand {
  margin-left: auto !important;
  font-size: 1em;
  color: gray;
}

