@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900');

.bar {
  padding: 10px 0;
  font-family: "Poppins",sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 85px;
  margin-bottom: 2em;
}
.bar .title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin: 5px 0 0;
  text-align: left;
}
.page ol {
  background-color: transparent;
  font-size: 14px;
  margin-bottom: 0;
  padding: 0;
}
.page ol li a {
  color: #fff;
}
.page ol li.active {
  color: #fff;
}
.page .item + .item::before {
	color: #fff;
  font-size: 10px;
  display: inline-block;
  padding-right: .5rem;
  content: "/";
  padding-left: .5rem;
}

.container {
  background-color: #532197;
  position: absolute;
  top: 0;
  width: 100vw;
  padding: 1em 2em;
}

@media only screen and (max-width: 767.98px) {
  .bar {
    height: auto;
  }
  .bar .title {
    font-size: 18px;
	}
}

