.container {
  margin: 0 2em 2em 2em;
}

.container > div {
  text-align: center;
}

.container > div:last-child {
  text-align: left;
}

/* Prevent scroll on table */
.container > section > div > div > div > div {
  overflow-x: scroll;
  overflow-y: hidden!important;
}

th > div > div > span {
  font-weight: 700;
}

.controls {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.controls > * {
  margin-left: 0.25em;
}

.issues {
  min-width: 200px;
  position: relative;
}

.issues > div {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  z-index: 1;
}

.avatar {
  border-radius: 50% !important;
  margin-right: 9px;
}

.name {
  word-wrap: break-word;
}

.purpose {
  overflow-wrap: break-word;
  white-space: normal;
  line-height: 1.5em;
  height: 4.5em;
  overflow-y: hidden;
  margin: 4px 0.75rem;
}

@media (max-width: 768px) {
  th[aria-label = "Purpose"] > div > div > span {
    width: 0;
    display: none;
  }
  td[data-label = "Purpose"] > div > p {
    width: 0;
    display: none;
  }
}

.date {
  overflow-wrap: break-word;
  white-space: normal;
  margin: 4px 0.5rem;
  overflow-y: hidden;
}

.date > p {
  margin: 0;
  line-height: 2em;
}

.table{
  border: 1px solid rgba(215,217,226,1);
  border-radius: 15px;
}
.table > div:first-child > div:last-child > div{
  border-radius: 15px 15px 0 0;
  border:none;
}
.table > div:last-child {
  border-radius: 0 0 15px 15px;
}
