.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  position: relative;
}

.main {
  min-width: 400px;
  max-width: calc(60% - 46px);
  padding: 2em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  transform: translateX(40%);
  transition: all ease 0.6s;
}

.sidebarExpanded {
  transform: translateX(0);
}
