.container {
  margin-bottom: 3rem;
}

.container > div {
  text-align: center;
}

.container > div:last-child {
  text-align: left;
}

.controls {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.controls > * {
  margin-left: 0.25em;
}

.date {
  overflow-wrap: break-word;
  white-space: normal;
  margin: 4px 0.5rem;
  overflow-y: hidden;
}

.date > p {
  margin: 0;
  line-height: 2em;
}

.issues {
  min-width: 200px;
  position: relative;
}

.issues > div {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  z-index: 1;
}

.avatar {
  margin-right: 9px;
  display: inline-block;
}

.view-container {
  display: flex;
  justify-content: center;
}

.table {
  border: 1px solid rgba(215, 217, 226, 1);
  border-radius: 15px;
}
.table > div:first-child > div:last-child > div {
  border-radius: 15px 15px 0 0;
  border: none;
}
.table > div:last-child {
  border-radius: 0 0 15px 15px;
}
