@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900');

.card {
  border: 1px solid #f0f0f0;
  margin-bottom: 1.875rem;
  font-family: "Poppins",sans-serif;
}
.card .card-header {
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
}
.card .card-header .card-title {
  margin-bottom: 0;
}
.card-body {
	padding: 1.5rem;
}
.change-avatar {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.change-avatar .profile-img {
	margin-right: 15px;
}
.change-avatar .profile-img img {
    border-radius: 4px;
    height: 100px;
    width: 100px;
    object-fit: cover;
}
.change-avatar .change-photo-btn {
    margin: 0 0 10px;
    width: 150px;
}
.form-group {
  margin-bottom: 1.25rem;
  text-align: left;
}
.form-control {
  border-color: #dcdcdc;
  color: #333;
  font-size: 15px;
  min-height: 46px;
  padding: 6px 15px;
}
.cal-icon {
	position: relative;
  width: 100%;
  border: 1px solid #ced4da;
}
.cal-icon:after {
	color: #979797;
  content: '\f073';
	display: block;
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  font-weight: 400;
  margin: auto;
  position: absolute;
  right: 15px;
  top: 10px;
}
.cal-icon .form-control{
  border:none !important
}
.change-photo-btn {
  background-color: #20c0f3;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin: 0 auto;
  padding: 10px 15px;
  position: relative;
  transition: .3s;
  text-align: center;
  width: 220px;
}
.change-photo-btn input.upload {
  bottom: 0;
  cursor: pointer;
  filter: alpha(opacity=0);
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 220px;
}

@media only screen and (max-width: 767.98px) {
  .card {
		margin-bottom: 20px;
  }
}

@media only screen and (max-width: 575.98px) {
  .card {
		margin-bottom: 0.9375rem;
  }
  .card-body {
		padding: 1.25rem;
  }
  .change-avatar .profile-img img {
		height: 80px;
		width: 80px;
	}
}