.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 50%;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  height: calc(100% - 150px);
}

.infermedica {
  padding: 40px;
  overflow-y: scroll;
  height: 100%;
}

.infermedica ul {
  padding-inline-start: 0;
}

.main {
  width: 60%;
  padding: 2em;
  border-radius: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.main div[data-slate-editor=true] {
  flex: 1;
  max-height: 75%;
  overflow-y: scroll;
}