.infermedica {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  transition: all ease 0.6s;
  text-align: left;
  display: flex;
  margin-right: 46px;
  transform: translateX(100%);
  width: 40%;
}

.infermedicaActive {
  transform: translateX(0);
}

.infermedica h4 {
  font-weight: 700;
  color: #532197;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-size: 1.5rem;
}

.search {
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.lookup {
  width: 70%;
}

.lookup > div > div > ul {
  padding-left: 0;
}

.lookup > div > div > ul > li > div > span {
  font-size: 1rem;
}

.lookup > div > div > ul > li > div > span > span {
  font-size: 0.8rem;
}

button {
  background-color: inherit;
  border: none;
  box-shadow: none;
}

button:hover {
  cursor: pointer;
}

.text {
  margin-left: 0.5rem;
}

.name {
  font-size: 18px;
}

.commonName {
  font-size: 16px;
}

.content {
  flex: 100%;
  padding: 2em 2em 2em 5px;
}

.actions {
  margin: 0.5em;
  background-color: #532197;
  border-color: #532197;
  border-radius: 0.6rem;
  color: white;
  padding: 0.5em 1em;
}

.itemContainer {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.item {
  background-color: #fff !important;
  display: flex;
  text-align: left;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.5em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.item .icon {
  margin-right: 0.5em;
  margin-left: 0.5em;
  font-size: 1.5em;
  width: 1em !important;
}

.search .icon {
  font-size: 1.5em;
  display: flex;
}

.update {
  margin-left: auto;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

.progressBar {
  width: 8rem !important;
  margin-right: 1rem;
}

.header {
  display: flex;
  align-items: center;
}

.header button {
  margin-left: auto;
  color: gray;
}

.header button:hover {
  color: #532197;
}

.loading {
  opacity: 0.5;
}