body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brand {
  color: #01b6f5;
}

.success {
  color: #1DE9B6;
}

.error {
  color: #FE4849;
}

.warning {
  color: #FC0;
}

.mainBackground {
  color: #FFF;
}

.brand-bg {
  background-color: #01b6f5;
}

.success-bg {
  background-color: #1DE9B6;
}

.error-bg {
  background-color: #FE4849;
}

.warning-bg {
  background-color: #FC0;
}

.mainBackground-bg {
  background-color: #FFF;
}
